h1, h2, h3 {
  font-weight: bold;
}

h1 {
  margin: 10px 0;
}
a {
  color: #1A117D;
  text-decoration: underline;
}

a:visited {
  color: #061752;
}
body {
  margin-left: 5vw;
  margin-right: 5vw;
  font-weight: bolder;
  background-color: #e8e8e8;
  background-image: radial-gradient(#000000 1.05px, #e8e8e8 1.05px);
  background-size: 21px 21px;
}